In [1]:
import json
import pandas as pd

def read_jsonl_to_dataframe(file_path):
    with open(file_path, 'r') as file:
        data = [json.loads(line) for line in file]
    return pd.DataFrame(data)

In [9]:
train_df = read_jsonl_to_dataframe('../ref_resources/data_related/FEVER/train.jsonl')
train_df.head()

,id,verifiable,label,claim,evidence
0,75397,VERIFIABLE,SUPPORTS,Nikolaj Coster-Waldau worked with the Fox Broa...,"[[[92206, 104971, Nikolaj_Coster-Waldau, 7], [..."
1,150448,VERIFIABLE,SUPPORTS,Roman Atwood is a content creator.,"[[[174271, 187498, Roman_Atwood, 1]], [[174271..."
2,214861,VERIFIABLE,SUPPORTS,"History of art includes architecture, dance, s...","[[[255136, 254645, History_of_art, 2]]]"
3,156709,VERIFIABLE,REFUTES,Adrienne Bailon is an accountant.,"[[[180804, 193183, Adrienne_Bailon, 0]]]"
4,83235,NOT VERIFIABLE,NOT ENOUGH INFO,System of a Down briefly disbanded in limbo.,"[[[100277, None, None, None]]]"

In [4]:
dev_df = read_jsonl_to_dataframe('../ref_resources/data_related/FEVER/paper_dev.jsonl')
dev_df.head()

,id,verifiable,label,claim,evidence
0,91198,NOT VERIFIABLE,NOT ENOUGH INFO,Colin Kaepernick became a starting quarterback...,"[[[108548, None, None, None]]]"
1,194462,NOT VERIFIABLE,NOT ENOUGH INFO,Tilda Swinton is a vegan.,"[[[227768, None, None, None]]]"
2,137334,VERIFIABLE,SUPPORTS,Fox 2000 Pictures released the film Soul Food.,"[[[289914, 283015, Soul_Food_-LRB-film-RRB-, 0..."
3,166626,NOT VERIFIABLE,NOT ENOUGH INFO,Anne Rice was born in New Jersey.,"[[[191656, None, None, None], [191657, None, N..."
4,111897,VERIFIABLE,REFUTES,Telemundo is a English-language television net...,"[[[131371, 146144, Telemundo, 0]], [[131371, 1..."

In [5]:
test_df = read_jsonl_to_dataframe('../ref_resources/data_related/FEVER/paper_test.jsonl')
test_df.head()

,id,verifiable,label,claim,evidence
0,113501,NOT VERIFIABLE,NOT ENOUGH INFO,Grease had bad reviews.,"[[[133128, None, None, None]]]"
1,163803,VERIFIABLE,SUPPORTS,Ukrainian Soviet Socialist Republic was a foun...,"[[[296950, 288668, Ukrainian_Soviet_Socialist_..."
2,70041,VERIFIABLE,SUPPORTS,2 Hearts is a musical composition by Minogue.,"[[[225394, 230056, 2_Hearts_-LRB-Kylie_Minogue..."
3,202314,VERIFIABLE,REFUTES,The New Jersey Turnpike has zero shoulders.,"[[[238335, 240393, New_Jersey_Turnpike, 15]]]"
4,57085,NOT VERIFIABLE,NOT ENOUGH INFO,Legendary Entertainment is the owner of Wanda ...,"[[[178035, None, None, None], [182093, None, N..."

In [12]:
shared_test_df = read_jsonl_to_dataframe('../ref_resources/data_related/FEVER/shared_task_test.jsonl')
shared_test_df.head()

      id                                              claim
0  89296          Henry Spencer is played by a Greek actor.
1  78554                       John Ritter died in October.
2  83809  13 Reasons Why is the only television series o...
3  49758                             Playboy is a magazine.
4  22973  Alternative metal is the genre in which Alice ...

In [13]:
public_shared_dev_df = read_jsonl_to_dataframe('../ref_resources/data_related/FEVER/shared_task_dev_public.jsonl')
public_shared_dev_df.head()

       id                                              claim
0   91198  Colin Kaepernick became a starting quarterback...
1  194462                          Tilda Swinton is a vegan.
2  137334     Fox 2000 Pictures released the film Soul Food.
3  166626                  Anne Rice was born in New Jersey.
4  111897  Telemundo is a English-language television net...

In [6]:
# Generate a JSON object with exemplary values for each column
example_row = test_df.iloc[0].to_dict()  # Get the first row as an example
json_object = json.dumps(example_row, indent=4, ensure_ascii=False)
print(json_object)

{
    "id": 113501,
    "verifiable": "NOT VERIFIABLE",
    "label": "NOT ENOUGH INFO",
    "claim": "Grease had bad reviews.",
    "evidence": [
        [
            [
                133128,
                null,
                null,
                null
            ]
        ]
    ]
}

In [11]:
# Generate a JSON object with exemplary values for each column
example_row = test_df.iloc[3].to_dict()  # Get the first row as an example
json_object = json.dumps(example_row, indent=4, ensure_ascii=False)
print(json_object)

{
    "id": 202314,
    "verifiable": "VERIFIABLE",
    "label": "REFUTES",
    "claim": "The New Jersey Turnpike has zero shoulders.",
    "evidence": [
        [
            [
                238335,
                240393,
                "New_Jersey_Turnpike",
                15
            ]
        ]
    ]
}

In [10]:
# Generate a JSON object with exemplary values for each column
example_row = train_df.iloc[0].to_dict()  # Get the first row as an example
json_object = json.dumps(example_row, indent=4, ensure_ascii=False)
print(json_object)

{
    "id": 75397,
    "verifiable": "VERIFIABLE",
    "label": "SUPPORTS",
    "claim": "Nikolaj Coster-Waldau worked with the Fox Broadcasting Company.",
    "evidence": [
        [
            [
                92206,
                104971,
                "Nikolaj_Coster-Waldau",
                7
            ],
            [
                92206,
                104971,
                "Fox_Broadcasting_Company",
                0
            ]
        ]
    ]
}